<% if @order.errors.any? %>
  <div class="errors">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Oh no! Fix your order!
    </div>
  </div>
<% end %>

<%= form_for @order do |f| %>

  <div class="form-group <%= 'has-error' if @order.errors[:customer_name].any? %>">
    <%= f.label :customer_name, class: "control-label" %>
    <%= f.text_field :customer_name, class: "form-control" %>
    <%= @order.errors[:customer_name].join(", ") %>
  </div>

  <div class="form-group <%= 'has-error' if @order.errors[:quantity].any? %>">
    <%= f.label :quantity, class: "control-label" %>
    <%= f.text_field :quantity, class: "form-control" %>
    <%= @order.errors[:quantity].join(", ") %>

  </div>

  <div class="form-group <%= 'has-error' if @order.errors[:waffle_type].any? %>">
    <%= f.label :waffle_type, class: "control-label" %>
    <%= f.select :waffle_type, ["belgian", "Gold Debloom", "Chocolate Chip"], {prompt: true}, {class: "form-control"} %>
    <%= @order.errors[:waffle_type].join(", ") %>

  </div>

  <div class="form-group <%= 'has-error' if @order.errors[:special_instructions].any? %>">
    <%= f.label :special_instructions, class: "control-label" %>
    <%= f.text_area :special_instructions, class: "form-control" %>
    <%= @order.errors[:special_instructions].join(", ") %>

  </div>

  <%= f.submit class: "btn btn-primary btn-lg" %>

<% end %>

<% if false %>

<form action="/orders" method="post">

  <div>
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity"></input>
  </div>

  <div>
    <label for="waffle_type">Waffle Type</label>
    <select name="waffle_type">
      <option value="belgian">Belgian Waffle</option>
      <option value="debloom">Gold Debloom</option>
      <option value="cocoa">Chocolate Chip</option>
    </select>
  </div>

  <div>
    <label for="special_instructions">Special Instruction</label>
    <textarea name="special_instructions"></textarea>
  </div>

  <div>
    <input type="submit" value="Save new order"></input>
  </div>

</form>

<% end %>
